# name: DevSecOps Pipeline

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     name: Build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out code
#         uses: actions/checkout@v3

#       - name: Pull Dockerfile from Docker Hub
#         run: docker pull we45/vul_flask:latest

#       - name: Set up Python 3.12
#         uses: actions/setup-python@v3
#         with:
#           python-version: 3.12-dev
     
#       - name: Create container from image
#         run: docker create --name my-app we45/vul_flask:latest

#       - name: Build Docker image
#         run: docker build -t we45/vul_flaspk .
        

#   sca:
#     name: Software Composition Analysis (SCA) via Dependabot
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Software Composition Analysis (SCA) via Dependabot
#         run: echo "Dependabot is enabled for SCA"

#   sast:
#     name: Static Application Static Testing
#     needs: sca
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out code
#         uses: actions/checkout@v3
      
#       - name: Initialize CodeQL
#         uses: github/codeql-action/init@v2
#         # uses: github/codeql-action/v2@v2.21.9
#         with:
#             languages: python
        
#   dast:
#     name: Dynamic Application Static Testing
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out code
#         uses: actions/checkout@v3
        
#       - name: Install OWASP ZAP
#         run: sudo apt install owasp-zap

#       - name: Run OWASP ZAP scan
#         run: zap-cli -g -u http://localhost:8080 -w report.xml

# on:
#   push:
#     branches: [ main ]

# env:  
#  REGISTRY: ghcr.io 
#  IMAGE_NAME: ${{ github.repository }}

# jobs:
#   build-and-push:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read
#       id-token: write
#       packages: write
#       actions: read
#       security-events: write
#     steps:
#       - uses: actions/checkout@v4

#       - name: Install Python dependencies
#         run: |
#           python3 -m venv venv
#           source venv/bin/activate
#           # pip install -r requirements.txt

#       - name: Write Python Hello World program
#         run: |
#           echo "print('Hello, World!')" > hello_world.py

#       - name: Log into docker registry 
#         uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1         
#         with:
#           registry: ghcr.io
#           username: ${{ github.actor }}
#           password: ${{ secrets.GIT_WORKFLOW_TOKEN }}
#           # lfs: true

#       - name: Extract Docker metadata
#         id: meta
#         uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
#         with:
#           images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}     
          
#       - name: Build Docker image
#         run: |
#              pwd
#              ls -lart
#              docker build . --file Dockerfile --tag my-devsecops
#              IMAGE_ID=ghcr.io/devsecops-test/my-devsecops
#              IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
#              export tag=$(TZ='Asia/Calcutta' date "+%Y%m%d.%H%M")     
#              docker tag my-devsecops $IMAGE_ID:$tag
#              docker images
#              docker push $IMAGE_ID:$tag



     
#       # - name: Login to GitHub Container Registry
#       #   run: |
#       #    docker login --username arunnagath --password-stdin

      
#       # - name: Push Docker image to GitHub Container Registry
#       #   run: |
#       #     docker push ghcr.io/arunnagath/helloworld:latest
