name: Devsecops Pipeline main test

on:
  push:

permissions: write-all

jobs:
  sca:
    name: Software Composition Analysis (SCA) via Dependabot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

  CodeQL:
    needs: build
    name: Build Codeql Scan 
    uses: ./.github/workflows/python-codeql.yml
    secrets: inherit   

  build:
    name: Build
    needs: CodeQL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build application
        run: echo "Building application"

  docker:
    needs: build
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker image
        uses: ./.github/workflows/docker-image.yml
        with:
          secrets: inherit
