name: Devsecops Pipeline

on:
  push:
  workflow_dispatch:

permissions: write-all

jobs:
  sca:
    name: Software Composition Analysis (SCA) via Dependabot
    runs-on: ubuntu-latest
    steps:
      - name: Software Composition Analysis (SCA) via Dependabot
        run: echo "Dependabot is enabled for SCA"

  CodeQL:
    name: Static Application Security Testing (SAST)
    needs: sca
    uses: ./.github/workflows/python-codeql.yml
    secrets: inherit 
        
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build

  docker:
    needs: build
    name: Build docker image and perform scan
    uses: ./.github/workflows/docker-image.yml
    secrets: inherit










    


  
